/* general settings + add general comment */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica", "Arial", sans-serif;
    text-decoration: none;
} 

body {
    background: radial-gradient(circle, #CDE6FE 0%, #5995DA 100%);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

h1 {
    font-size: 70px;
}

h2, p {
    font-size: 30px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 17px;
}

/* header */
.header {
    display: flex; 
    justify-content: space-between;
    padding: 15px;
    width: 100%;
    background-color: #5995DA;
    position: fixed;
}

.logo {
    font-size: 22px;
    color: #BF1B44;
}

.menu {
    display: flex;
}

.menu > li {
    display: inline; 
    font-size: 20px;
}

.menu > li a {
    color: #000000;
}

.menu > li a:hover {
    color: #00ffff;
}

.about {
    margin-right: 30px;
}


/* company introduction */
.mission {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    padding-top: 100px;
    height: 50vh;
}

.mission-title {
    padding-top: 50px;
}

.core-business {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
    height: 50vh;
}

.core-business-image {
    padding: 50px;
}

.core-business-text {
    padding-left: 40px;
    text-align: right;
}

/* courses */
.courses {
    display: flex;
    padding: 50px;
    padding-left: 70px;
    flex-direction: column;
    width: 100%;
}

.courses-title {
    padding-bottom: 50px;
}

.courses-elements {
    display: flex;
    flex-wrap: wrap;
}

.courses-element {
    color: #000000;
    background-color: #5995DA;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid #5D6063;
    border-radius: 5px;
    width: 300px;
    margin: 20px auto;
    font-size: 20px;
}

.courses-element:hover {
    color: #00ffff;
    opacity: 0.9;
}

/* footer */
.footer {
    display: flex;
    justify-content: space-between;
    background-color: #999999;
    padding: 20px;
    padding-left: 15%;
    padding-right: 15%;
    width: 100%;
}

.footer a {
    font-size: 25px;
}

@media only screen and (max-width: 950px) {

    .mission {
        flex-direction: column;
        height: 100vh;
    }
    
    .core-business {
        flex-direction: column;
        height: 100vh;
    }

    .courses-elements {
        flex-direction: column;
        height: 100vh;
    }
}