* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
} 

html {
    scroll-padding-top: 100px;
    overflow-x: hidden;
}

body {
    background-color: #f7f7f7; 
    width: 100%;
    overflow-x: hidden;
}

hr {
    border: none;
    height: 2px;
    background-color: #eaeaea;
    margin: 30px 0;
}


/* HEADER */

header {
    background-color: #f7f7f7;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    padding: 15px;
    position: fixed;
    z-index: 100;
}

.navbar {
    display: none;
}

.navbar ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #f7f7f7;
    list-style: none;
}

.navbar ul li { 
    width: 100%;
    padding: 10px;
}

.navbar ul li a {
    display: block;
    color: #000000;
    font-size: 18px;
    padding: 10px;
    margin-left: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.1s ease;
}

.navbar ul li a:hover {
    color: #0050ff;
}

#menu-checkbox {
    display: none;
}

#menu-checkbox:checked ~ .navbar {
    display: initial;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 0%;
    right: 0%;
}

header label {
    font-size: 20px;
    cursor: pointer;
    display: initial;
}

#img-menu {
    width: 30px;
    height: 30px;
}

.social-media {
    display: flex;
    align-items: center;
}

.social-media a {
    padding-right: 20px;
}

#img-github, #img-linkedin {
    width: 30px;
    height: 30px;
    transition: scale 0.3s ease;
}

#img-github:hover, #img-linkedin:hover {
    transform: scale(1.1);
}



/* SECTION: HOME */

#homepage-background {
    z-index: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

#homepage-background-left {
    width: 30%;
    transform: translateX(-100%); 
    animation: slideLeft 1s forwards;
}

#homepage-background-right {
    width: 70%; 
    background-color: #e6dace;
    transform: translateX(100%); 
    animation: slideRight 1s forwards;
}

#homepage-content {
    z-index: 1;
    position: absolute;
    top: 20%;
    left: 15%;
    width: 70%;
    height: 85%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    opacity: 1; 
}

#homepage-content-left {
    width: 40%; 
    height: 60%;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transform: translateX(-100%); 
    animation: slideLeft 1s forwards;
}

#homepage-content-right {
    width: 60%; 
    height: 60%;
    background-color: #f4ece6; 
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    transform: translateX(100%); 
    animation: slideRight 1s forwards;
}

.img-me {
    height: 100%;
}

.content-name {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 3%;
}

.content-jobtitle-location-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
}

.content-jobtitle {
    font-size: 30px;
    font-weight: bold;
}

.content-location {
    margin-right: 20px;
    font-size: 20px;
}

.content-description {
    font-size: 24px;
    margin-bottom: 5%;
}

.call-to-actions-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}



/* SECTION: ABOUT ME */

.aboutme-title, .projects-title, .skills-title {
    background-color: rgb(230, 218, 206);
    color: #000000;
    padding: 30px;
    margin-top: 100px;
    margin-bottom: 50px;
    margin-left: 100px;
    height: 100px;
    font-size: 32px;
    font-weight: bold;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);  
}

.aboutme-description {
    display: flex;
    flex-direction: column; 
    margin-left: 100px;
    margin-right: 100px;
}

.aboutme-description p {
    font-size: 16px;
}

.bold-italics {
    font-style: italic;
    font-weight: bold;
    color: #000000;
}

.bold-italics:hover {
    color: rgb(0, 80, 255);
}

.aboutme-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.button {
    color: #000000; 
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
    width: 140px;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.1s;
    text-align: center;
    cursor: pointer;
}

.button a {
    color: #000000;
}

.button:hover {
    border: 1px solid  rgb(0, 80, 255);
    background-color: rgb(0, 80, 255);
}



/* SECTION: SKILLS */

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px #000000;
    margin: 20px;
    max-width: 350px;
}

.card-content {
    padding: 16px;
    background-color:rgb(244, 236, 230);
    height: 100%;
}

.card-title {
    color: #000000;
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 12px;
}

.card-description {
    color: #000000;
    font-size: 16px;
}

.card-skills {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
}

.card-skill {
    color:rgb(0, 80, 255);
    border-radius: 10px;
    border: 1px solid rgb(0, 80, 255);
    padding: 5px;
    margin: 5px;
    font-size: 16px;
}

.card-buttons {
    display: flex;
    justify-content: space-around;
}

.skills-maxcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
    align-items: center;
    align-self: center;
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 4px 10px #000000;
    width: 750px;
}

.skills-container-title {
    color: #1d392b;
    font-size: 18px;
    font-weight: bolder;
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
}

.skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.skill-name {
    color: #1d392b;
}

.skill-description  {
    padding-left: 20px;
}

.skill-description p {
    font-size: 14px;
}



/* FOOTER */

footer { 
    background-color: #6b6060;
    color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5%;
    padding-left: 15%;
    padding-right: 15%;
    width: 100%;
    font-size: 14px;
}



/* SECTION: MEDIA QUERIES */

@media(max-width: 600px) {

    header {
        background-color: #f4ece6;
    }

    #homepage-background {
        flex-direction: column;
        width: 100%;
    }

    #homepage-background-left {
        width: 100%;
        height: 40%; 
    }

    #homepage-background-right {
        width: 100%;
        height: 60%; 
    }

    #homepage-content {
        flex-direction: column;
        width: 100%;
        top: 10%;
    }

    #homepage-content-left {
        width: 100%; 
        height: 40%;
    }

    #homepage-content-right {
        width: 100%; 
        height: 50%;
        align-items: center;
    }

    .content-name {
        font-size: 30px;
    }

    .content-jobtitle-location-container {
        flex-direction: column;
    }

    .content-jobtitle {
        font-size: 26px;
    }

    .content-location {
        display: flex;
        direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        font-size: 20px;
    }

    .content-description {
        font-size: 18px;
    }

    .button {
        width: 100px;
        font-size: 14px;
    }

    .aboutme-description {
        margin-left: 50px;
        margin-right: 50px;
    }
    
    .card {
        width: 250px;
    }

    .skills-container {
        width: 250px;
    }

    .slide-in-right {
        transform: translateX(10px);  
    }

    .slide-in-left {
        transform: translateX(-10px);  
    }
}


@media(min-width: 1000px) {

    header label {
        display: none;
    }

    .navbar {
        display: flex; 
    }

    .navbar ul {
        flex-direction: row;
    }
    
    .navbar ul li{
        margin-left: 24px;
        white-space: nowrap;
    }

    .navbar ul li a {
        font-size: 24px;
    }

    .social-media a {
        padding-right: 25px;
    }
    
}

/* slide-in effect */
.slide-in-top {
    transform: translateY(-100px);  
    opacity: 0; 
    transition: transform 1.2s ease, opacity 0.1s ease;   
}

.slide-in-top-visible {
    transform: translateY(0); 
    opacity: 1; 
} 

.slide-in-right {
    transform: translateX(100px);  
    opacity: 0; 
    transition: transform 1.2s ease, opacity 0.1s ease;   
}

.slide-in-right-visible {
    transform: translateX(0); 
    opacity: 1; 
} 

.slide-in-left {
    transform: translateX(-100px);  
    opacity: 0; 
    transition: transform 1.2s ease, opacity 0.1s ease;   
}

.slide-in-left-visible {
    transform: translateX(0); 
    opacity: 1; 
} 

.slide-in-bottom {
    transform: translateY(100px);  
    opacity: 0; 
    transition: transform 1.2s ease, opacity 0.1s ease;   
}

.slide-in-bottom-visible {
    transform: translateY(0); 
    opacity: 1; 
} 

.fade-in { 
    opacity: 0; 
    transition: opacity 2s ease;  
}

.fade-in-visible {
    opacity: 1; 
} 

@keyframes slideLeft {
    0% { 
        transform: translateX(-100%); 
        opacity: 0;
    }
    100% { 
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideRight {
    0% { 
        transform: translateX(100%); 
        opacity: 0;
    }
    100% { 
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateX(-50%) translateY(-80%); 
        opacity: 0;
    }
    100% {
        transform: translateX(-50%) translateY(-40%); 
        opacity: 1;
    }
}








/* Animazione elementi del content-right */
#homepage-content-right > * {
  opacity: 0;             
  transform: translateX(50px); 
  animation: slideIn 0.5s forwards;
}
#homepage-content-right > :nth-child(1) {
  animation-delay: 1s;   /* content-name */
}
#homepage-content-right > :nth-child(2) {
  animation-delay: 1.2s; /* content-jobtitle */
}
#homepage-content-right > :nth-child(3) {
  animation-delay: 1.4s; /* content-description */
}
#homepage-content-right > :nth-child(4) {
  animation-delay: 1.6s;
}
.call-to-actions-container button {
  opacity: 0;
  transform: translateX(50px);
  animation: slideIn 0.5s forwards;
}
.call-to-actions-container button:nth-child(1) {
  animation-delay: 1.8s;
}
.call-to-actions-container button:nth-child(2) {
  animation-delay: 2s;
}
.call-to-actions-container button:nth-child(3) {
  animation-delay: 2.2s;
}
/* Keyframes animazione */
@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


/* Animazione immagine */
#homepage-content-left {
  perspective: 800px; /* fondamentale per il 3D */
}

#homepage-content-left img {

  transition: transform 0.15s ease-out; /* animazione fluida */
  transform-style: preserve-3d;
  display: block;
  border-radius: 2px; 
}


/* Animazione titoli */
.title-animation {
    transform: translateX(500px);
    transition: transform 1.5s ease;
}
.title-animation.visible {
    transform: translateX(0);
}