* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
} 

h1 {
    font-size: 24px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 18px;
}

header {
    background-color: #0ddf72;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    padding: 15px;
    position: fixed;
}

.navbar {
    display: none;
}

.navbar ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #0ddf72;
    list-style: none;
}

.navbar ul li { 
    width: 100%;
    padding: 10px;
}

.navbar ul li a {
    display: block;
    color: #1d392b;
    font-weight: bolder;
    font-size: 18px;
    padding: 5px;
    margin-left: 20px;
}

.navbar ul li a:hover {
    background-color: #11b05d;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}

#menu-checkbox {
    display: none;
}

#menu-checkbox:checked ~ .navbar {
    display: initial;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 0%;
    right: 0%;
}

header label {
    font-size: 20px;
    cursor: pointer;
    display: initial;
}

#img-menu {
    width: 30px;
    height: 30px;
}

.social-media {
    display: flex;
    align-items: center;
}

.social-media a {
    padding-right: 20px;
}

#img-github, #img-linkedin {
    width: 30px;
    height: 30px;
}

.main {
    background: linear-gradient(90deg, #1d392b 0%, #11b05d 100%);
    color: #d2ecd1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    height: 100vh; 
}

.main-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.title {
    padding-bottom: 5%;
}

.subtitle1 {
    padding-bottom: 5%;
}

.call-to-action { 
    color: #1d392b;
    background-color: #0ddf72;
    border: 2px solid #11b05d;
    padding: 15px;
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.6s;
}

.call-to-action:hover { 
    color: #ffffff;
    background-color: #11b05d;
    border: 2px solid #0ddf72;
}  

.subtitle2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.subtitle2 a {
    color: #d2ecd1;
}

.subtitle2 a:hover {
    color: #0ddf72;
}

#img-start2impact {
    margin-right: 5px;
    width: 30px;
    height: 30px;
}

.main-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#img-me {
    width: 165px;
    height: 236.45px;
    border-radius: 50%;
    padding: 12px;
}

.location { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#img-location {
    width: 35px;
    height: 35px;
}

.location p {
    font-size: 20px;
}

footer { 
    background-color: #6b6060;
    color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5%;
    padding-left: 15%;
    padding-right: 15%;
    width: 100%;
    font-size: 14px;
}

@media(min-width: 1000px) {

    h1 {
        font-size: 36px;
        white-space: nowrap;
    }
    
    h2 {
        font-size: 24px;
        white-space: nowrap;
    }
    
    h3 {
        font-size: 24px;
        white-space: nowrap;
    }

    header label {
        display: none;
    }

    .navbar {
        display: flex; 
    }

    .navbar ul {
        flex-direction: row;
    }
    
    .navbar ul li{
        margin-left: 24px;
        white-space: nowrap;
    }

    .navbar ul li a {
        font-size: 24px;
    }

    .social-media a {
        padding-right: 25px;
    }

    #img-github, #img-linkedin {
        width: 30px;
        height: 30px;
    }

    .main {
        flex-direction: row;
        justify-content: space-between;
    }

    .main-left {
        flex-direction: column;
        flex: 1;
        margin-left: 100px;
    }

    .call-to-action { 
        font-size: 24px;
    }

    #img-start2impact {
        margin-right: 10px;
        width: 35px;
        height: 35px;
    }

    .main-right {
        flex: 1;
        flex-direction: column;
        margin-right: 100px;
    }
    
    #img-me {
        width: 200px;
        height: 288px;
    }

    .location p { 
        font-size: 24px;
    }  

    #img-location {
        width: 45px;
        height: 45px;
    }

    .footer {
        font-size: 18px;
    }
    
}

@media(min-width: 1500px) {

    h1 {
        font-size: 42px;
    }
    
    h2 {
        font-size: 32px;
    }
    
    h3 {
        font-size: 32px;
    }

    .navbar ul li a {
        font-size: 32px;
    }

    .social-media a {
        padding-right: 30px;
    }
    
    .call-to-action { 
        font-size: 32px;
    }

    #img-start2impact {
        margin-right: 15px;
        width: 50px;
        height: 50px;
    }

    .main-left {
        margin-left: 400px;
    }

    .main-right {
        margin-right: 400px;
    } 

    #img-me {
        width: 250px;
        height: 363px;
    }

    .location p {
        font-size: 32px;
    }

    #img-location {
        width: 50px;
        height: 50px;
    }

    .footer {
        font-size: 24px;
    }
}