.aboutme-main {
    background: linear-gradient(90deg, #1d392b 0%, #0b7a41 100%);
    color: #d2ecd1;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.aboutme-title {
    padding-top: 50px;
    padding-bottom: 50px;
}

.aboutme-description {
    padding-bottom: 60px;
}

.aboutme-description, .aboutme-section, .aboutme-conclusions p {
    font-size: 14px;
}

.aboutme-description-goal {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#img-goal8 {
    margin-left: 10px;
    width: 100px;
    height: 100px;
}

.aboutme-section {
    border: 2px solid #11b05d;
    border-radius: 25px;
    padding: 30px;
    margin-bottom: 30px;
}

.aboutme-section a {
    color: #d2ecd1;
}

.aboutme-section a:hover {
    color: #0ddf72;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
}

.skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.button {
    color: #1d392b;
    background-color: #0ddf72;
    border: 2px solid #11b05d;
    border-radius: 25px;
    padding: 15px;
    margin-top: 20px;
    width: 160px;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.6s;
}

.button a {
    color: #1d392b;
}

.button:hover { 
    color: #ffffff;
    background-color: #11b05d;
    border: 2px solid #0ddf72; 
}

.button a:hover {
    color: #ffffff;
}

.aboutme-conclusions {
    padding-top: 60px;
}


@media(min-width: 1000px) {

    .aboutme-main {
        padding: 100px;
    }

    .aboutme-description, .aboutme-section, .aboutme-conclusions p {
        font-size: 18px;
    }

    button {
        font-size: 24px;
    }
}

@media(min-width: 1500px) {  
    
    .aboutme-main {
        padding: 200px;
    }

    .aboutme-description, .aboutme-section, .aboutme-conclusions p {
        font-size: 24px;
    }

    button {
        font-size: 36px;
    }

}