* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
} 

h1 {
    font-size: 18px;
}

h2 {
    font-size: 14px;
}

h3 {
    font-size: 14px;
}

header {
    background-color: #0ddf72;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    padding: 15px;
    position: fixed;
}

.navbar {
    display: none;
}

.navbar ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #0ddf72;
    list-style: none;
}

.navbar ul li { 
    width: 100%;
    padding: 10px;
}

.navbar ul li a {
    display: block;
    color: #1d392b;
    font-weight: bolder;
    font-size: 18px;
    padding: 5px;
    margin-left: 20px;
}

.navbar ul li a:hover {
    background-color: #11b05d;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}

#menu-checkbox {
    display: none;
}

#menu-checkbox:checked ~ .navbar {
    display: initial;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 0%;
    right: 0%;
}

header label {
    font-size: 20px;
    cursor: pointer;
    display: initial;
}

#img-menu {
    width: 30px;
    height: 30px;
}

.social-media {
    display: flex;
    align-items: center;
}

.social-media a {
    padding-right: 20px;
}

#img-github, #img-linkedin {
    width: 30px;
    height: 30px;
}

.main {
    background: linear-gradient(90deg, #1d392b 0%, #11b05d 100%);
    color: #d2ecd1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    height: 100vh; 
}

.main-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;  
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 100px;
    margin-bottom: 60px;
}

.main-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.title {
    margin-bottom: 5px;
}

.subtitle1 {
    padding-bottom: 20px;
}

/*.progress-bar {
    width: 120px;
    height: 30px;
    background-color: #11b05d;
    color: #1d392b;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.progress-bar-fill {
    width: 0%;
    height: 100%;
    background-color: #0ddf72;
    transition: all 1.5s;
}

.progress-bar-text {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    font-weight: bold;
    color: #d2ecd1;
}*/

.call-to-action { 
    color: #1d392b;
    background-color: #0ddf72;
    border: 2px solid #11b05d;
    padding: 15px;
    border-radius: 25px;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.6s;
}

.call-to-action:hover { 
    color: #ffffff;
    background-color: #11b05d;
    border: 2px solid #0ddf72;
}  

.subtitle2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 25px;
}

.subtitle2 a {
    color: #d2ecd1;
}

.subtitle2 a:hover {
    color: #0ddf72;
}

#img-start2impact {
    margin-right: 5px;
    width: 20px;
    height: 20px;
}

.main-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#img-me {
    width: 120px;
    height: 168px;
    border-radius: 50%;
    padding: 12px;
}

.location { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#img-location {
    width: 20px;
    height: 20px;
}

.location p {
    font-size: 20px;
}

.card {
    background-color: #0eca69;
    border-radius: 25px;
    border: 2px solid #0ddf72;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin: 20px;
}

.card-content {
    padding: 16px;
}

.card-title {
    color: #1d392b;
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 12px;
}

.card-description {
    color: #1d392b;
    font-size: 14px;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    justify-content: center;
}

.skill {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.skill-name {
    color: #1d392b;
}

.button-container {
    display: flex;
    justify-content: space-around;
}

.card-button {
    display: inline-block;
    padding: 15px;
    color: #1d392b;
    background-color: #11b05d;
    border: 2px solid #1d392b;
    border-radius: 25px;
    font-size: 14px;
    font-weight: bold;
    margin-top: 15px;
    transition: all 0.6s;
    text-align: center;
}

.card-button:hover { 
    background-color: #1d392b;
    border: 2px solid #11b05d;
    color: #d2ecd1;
} 

footer { 
    background-color: #6b6060;
    color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5%;
    padding-left: 15%;
    padding-right: 15%;
    width: 100%;
    font-size: 14px;
}

@media(min-width: 600px) {

    h1 {
        font-size: 24px;
    }
    
    h2 {
        font-size: 18px;
    }
    
    h3 {
        font-size: 18px;
    } 
    
    /*.main-top {
        margin-top: 150px;
    }*/
    
    #img-start2impact {
        margin-right: 5px;
        width: 30px;
        height: 30px;
    }

    #img-me {
        width: 165px;
        height: 236.45px;
        border-radius: 50%;
        padding: 12px;
    }

    #img-location {
        width: 35px;
        height: 35px;
    }

    .card {
        width: 560px; 
    }

}

@media(min-width: 1000px) {

    h1 {
        font-size: 36px;
        white-space: nowrap;
    }
    
    h2 {
        font-size: 24px;
        white-space: nowrap;
    }
    
    h3 {
        font-size: 24px;
        white-space: nowrap;
    }

    header label {
        display: none;
    }

    .navbar {
        display: flex; 
    }

    .navbar ul {
        flex-direction: row;
    }
    
    .navbar ul li{
        margin-left: 24px;
        white-space: nowrap;
    }

    .navbar ul li a {
        font-size: 24px;
    }

    .social-media a {
        padding-right: 25px;
    }

    #img-github, #img-linkedin {
        width: 30px;
        height: 30px;
    }

    .main {
        height: auto;
    }

    .main-top {
        margin-top: 200px;
    }

    .main-left {
        margin-left: 100px;
    }

    .call-to-action { 
        font-size: 24px;
    }

    #img-start2impact {
        margin-right: 10px;
        width: 35px;
        height: 35px;
    }

    .main-right {
        margin-right: 100px;
    }
    
    #img-me {
        width: 200px;
        height: 288px;
    }

    .location p { 
        font-size: 24px;
    }  

    #img-location {
        width: 45px;
        height: 45px;
    }

    .card-title {
        font-size: 24px;
    }

    .card-description {
        font-size: 18px;
    }

    .card-button {
        font-size: 24px;
    }

    .footer {
        font-size: 18px;
    }
    
}

@media(min-width: 1500px) {

    h1 {
        font-size: 42px;
    }
    
    h2 {
        font-size: 32px;
    }
    
    h3 {
        font-size: 32px;
    }

    .navbar ul li a {
        font-size: 32px;
    }

    .social-media a {
        padding-right: 30px;
    }
    
    .call-to-action { 
        font-size: 32px;
    }

    #img-start2impact {
        margin-right: 15px;
        width: 50px;
        height: 50px;
    }

    .main-left {
        margin-left: 400px;
    }

    .main-right {
        margin-right: 400px;
    } 

    #img-me {
        width: 250px;
        height: 363px;
    }

    .location p {
        font-size: 32px;
    }

    #img-location {
        width: 50px;
        height: 50px;
    }

    .card-title {
        font-size: 24px;
    }

    .card-description {
        font-size: 18px;
    }

    .card-button {
        font-size: 24px;
    }

    .footer {
        font-size: 24px;
    }
}